USE [AW_ETL_Framework]
GO
/****** Object:  Schema [audit]    Script Date: 7/10/2026 2:50:44 PM ******/
CREATE SCHEMA [audit]
GO
/****** Object:  Schema [config]    Script Date: 7/10/2026 2:50:44 PM ******/
CREATE SCHEMA [config]
GO
/****** Object:  Schema [control]    Script Date: 7/10/2026 2:50:44 PM ******/
CREATE SCHEMA [control]
GO
/****** Object:  Schema [logging]    Script Date: 7/10/2026 2:50:44 PM ******/
CREATE SCHEMA [logging]
GO
/****** Object:  Schema [metadata]    Script Date: 7/10/2026 2:50:44 PM ******/
CREATE SCHEMA [metadata]
GO
/****** Object:  Table [control].[Watermark]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [control].[Watermark](
	[WatermarkID] [int] IDENTITY(1,1) NOT NULL,
	[SourceTableID] [int] NOT NULL,
	[WatermarkColumn] [nvarchar](100) NOT NULL,
	[LastSuccessfulValue] [nvarchar](200) NULL,
	[CurrentRunValue] [nvarchar](200) NULL,
	[LastRunStartTime] [datetime2](0) NULL,
	[LastRunEndTime] [datetime2](0) NULL,
	[LastRunStatus] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_Watermark] PRIMARY KEY CLUSTERED 
(
	[WatermarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Watermark] UNIQUE NONCLUSTERED 
(
	[SourceTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [logging].[ExecutionDetail]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [logging].[ExecutionDetail](
	[ExecutionDetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExecutionLogID] [bigint] NOT NULL,
	[SourceTableID] [int] NOT NULL,
	[PipelineName] [nvarchar](200) NOT NULL,
	[NotebookName] [nvarchar](200) NULL,
	[LayerName] [nvarchar](20) NOT NULL,
	[ExecutionStatus] [nvarchar](20) NOT NULL,
	[RowsRead] [bigint] NULL,
	[RowsInserted] [bigint] NULL,
	[RowsUpdated] [bigint] NULL,
	[RowsDeleted] [bigint] NULL,
	[RowsRejected] [bigint] NULL,
	[StartTime] [datetime2](0) NOT NULL,
	[EndTime] [datetime2](0) NULL,
	[DurationInSeconds] [int] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ExecutionDetail] PRIMARY KEY CLUSTERED 
(
	[ExecutionDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [logging].[ExecutionLog]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [logging].[ExecutionLog](
	[ExecutionLogID] [bigint] IDENTITY(1,1) NOT NULL,
	[BatchID] [int] NULL,
	[PipelineName] [nvarchar](200) NOT NULL,
	[PipelineRunID] [nvarchar](100) NULL,
	[SourceTableID] [int] NULL,
	[ExecutionStatus] [nvarchar](20) NOT NULL,
	[RowsExtracted] [bigint] NULL,
	[RowsLoaded] [bigint] NULL,
	[RowsRejected] [bigint] NULL,
	[StartTime] [datetime2](0) NOT NULL,
	[EndTime] [datetime2](0) NULL,
	[DurationInSeconds] [int] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[ExecutedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ExecutionLog] PRIMARY KEY CLUSTERED 
(
	[ExecutionLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [metadata].[SourceSystem]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [metadata].[SourceSystem](
	[SourceSystemID] [int] IDENTITY(1,1) NOT NULL,
	[SourceSystemCode] [nvarchar](20) NOT NULL,
	[SourceSystemName] [nvarchar](100) NOT NULL,
	[SourceSystemType] [nvarchar](50) NOT NULL,
	[ConnectionReference] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_SourceSystem] PRIMARY KEY CLUSTERED 
(
	[SourceSystemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SourceSystem_Code] UNIQUE NONCLUSTERED 
(
	[SourceSystemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SourceSystem_Name] UNIQUE NONCLUSTERED 
(
	[SourceSystemName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [metadata].[SourceTable]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [metadata].[SourceTable](
	[SourceTableID] [int] IDENTITY(1,1) NOT NULL,
	[SourceSystemID] [int] NOT NULL,
	[SourceSchema] [nvarchar](100) NOT NULL,
	[SourceTableName] [nvarchar](200) NOT NULL,
	[TargetContainer] [nvarchar](100) NOT NULL,
	[TargetFolder] [nvarchar](200) NOT NULL,
	[FileFormat] [nvarchar](20) NOT NULL,
	[LoadType] [nvarchar](20) NOT NULL,
	[WatermarkColumn] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[LoadSequence] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_SourceTable] PRIMARY KEY CLUSTERED 
(
	[SourceTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SourceTable] UNIQUE NONCLUSTERED 
(
	[SourceSystemID] ASC,
	[SourceSchema] ASC,
	[SourceTableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [metadata].[TableLoadConfiguration]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [metadata].[TableLoadConfiguration](
	[TableConfigurationID] [int] IDENTITY(1,1) NOT NULL,
	[SourceTableID] [int] NOT NULL,
	[TargetContainer] [nvarchar](100) NOT NULL,
	[TargetFolder] [nvarchar](200) NOT NULL,
	[FileFormat] [nvarchar](20) NOT NULL,
	[LoadType] [nvarchar](20) NOT NULL,
	[WatermarkColumn] [nvarchar](100) NULL,
	[PrimaryKeyColumns] [nvarchar](500) NULL,
	[PartitionColumn] [nvarchar](100) NULL,
	[MergeStrategy] [nvarchar](20) NULL,
	[CompressionType] [nvarchar](20) NOT NULL,
	[BronzeTableName] [nvarchar](200) NULL,
	[SilverTableName] [nvarchar](200) NULL,
	[GoldTableName] [nvarchar](200) NULL,
	[NotebookName] [nvarchar](200) NULL,
	[PipelineName] [nvarchar](200) NULL,
	[RetryCount] [int] NOT NULL,
	[RetryIntervalSeconds] [int] NOT NULL,
	[TimeoutMinutes] [int] NOT NULL,
	[LoadSequence] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_TableConfiguration] PRIMARY KEY CLUSTERED 
(
	[TableConfigurationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [control].[Watermark] ADD  CONSTRAINT [DF_Watermark_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [control].[Watermark] ADD  CONSTRAINT [DF_Watermark_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [control].[Watermark] ADD  CONSTRAINT [DF_Watermark_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [logging].[ExecutionDetail] ADD  CONSTRAINT [DF_ExecutionDetail_Status]  DEFAULT ('RUNNING') FOR [ExecutionStatus]
GO
ALTER TABLE [logging].[ExecutionDetail] ADD  CONSTRAINT [DF_ExecutionDetail_StartTime]  DEFAULT (sysutcdatetime()) FOR [StartTime]
GO
ALTER TABLE [logging].[ExecutionDetail] ADD  CONSTRAINT [DF_ExecutionDetail_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [logging].[ExecutionLog] ADD  CONSTRAINT [DF_ExecutionLog_Status]  DEFAULT ('RUNNING') FOR [ExecutionStatus]
GO
ALTER TABLE [logging].[ExecutionLog] ADD  CONSTRAINT [DF_ExecutionLog_StartTime]  DEFAULT (sysutcdatetime()) FOR [StartTime]
GO
ALTER TABLE [logging].[ExecutionLog] ADD  CONSTRAINT [DF_ExecutionLog_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [metadata].[SourceSystem] ADD  CONSTRAINT [DF_SourceSystem_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [metadata].[SourceSystem] ADD  CONSTRAINT [DF_SourceSystem_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [metadata].[SourceSystem] ADD  CONSTRAINT [DF_SourceSystem_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [metadata].[SourceTable] ADD  CONSTRAINT [DF_SourceTable_FileFormat]  DEFAULT ('PARQUET') FOR [FileFormat]
GO
ALTER TABLE [metadata].[SourceTable] ADD  CONSTRAINT [DF_SourceTable_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [metadata].[SourceTable] ADD  CONSTRAINT [DF_SourceTable_LoadSequence]  DEFAULT ((1)) FOR [LoadSequence]
GO
ALTER TABLE [metadata].[SourceTable] ADD  CONSTRAINT [DF_SourceTable_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [metadata].[SourceTable] ADD  CONSTRAINT [DF_SourceTable_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_FileFormat]  DEFAULT ('PARQUET') FOR [FileFormat]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_Compression]  DEFAULT ('SNAPPY') FOR [CompressionType]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_RetryCount]  DEFAULT ((3)) FOR [RetryCount]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_RetryInterval]  DEFAULT ((60)) FOR [RetryIntervalSeconds]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_Timeout]  DEFAULT ((120)) FOR [TimeoutMinutes]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_LoadSequence]  DEFAULT ((1)) FOR [LoadSequence]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [metadata].[TableLoadConfiguration] ADD  CONSTRAINT [DF_TableConfiguration_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [control].[Watermark]  WITH CHECK ADD  CONSTRAINT [FK_Watermark_SourceTable] FOREIGN KEY([SourceTableID])
REFERENCES [metadata].[SourceTable] ([SourceTableID])
GO
ALTER TABLE [control].[Watermark] CHECK CONSTRAINT [FK_Watermark_SourceTable]
GO
ALTER TABLE [logging].[ExecutionDetail]  WITH CHECK ADD  CONSTRAINT [FK_ExecutionDetail_ExecutionLog] FOREIGN KEY([ExecutionLogID])
REFERENCES [logging].[ExecutionLog] ([ExecutionLogID])
GO
ALTER TABLE [logging].[ExecutionDetail] CHECK CONSTRAINT [FK_ExecutionDetail_ExecutionLog]
GO
ALTER TABLE [logging].[ExecutionDetail]  WITH CHECK ADD  CONSTRAINT [FK_ExecutionDetail_SourceTable] FOREIGN KEY([SourceTableID])
REFERENCES [metadata].[SourceTable] ([SourceTableID])
GO
ALTER TABLE [logging].[ExecutionDetail] CHECK CONSTRAINT [FK_ExecutionDetail_SourceTable]
GO
ALTER TABLE [logging].[ExecutionLog]  WITH CHECK ADD  CONSTRAINT [FK_ExecutionLog_SourceTable] FOREIGN KEY([SourceTableID])
REFERENCES [metadata].[SourceTable] ([SourceTableID])
GO
ALTER TABLE [logging].[ExecutionLog] CHECK CONSTRAINT [FK_ExecutionLog_SourceTable]
GO
ALTER TABLE [metadata].[SourceTable]  WITH CHECK ADD  CONSTRAINT [FK_SourceTable_SourceSystem] FOREIGN KEY([SourceSystemID])
REFERENCES [metadata].[SourceSystem] ([SourceSystemID])
GO
ALTER TABLE [metadata].[SourceTable] CHECK CONSTRAINT [FK_SourceTable_SourceSystem]
GO
ALTER TABLE [metadata].[TableLoadConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_TableConfiguration_SourceTable] FOREIGN KEY([SourceTableID])
REFERENCES [metadata].[SourceTable] ([SourceTableID])
GO
ALTER TABLE [metadata].[TableLoadConfiguration] CHECK CONSTRAINT [FK_TableConfiguration_SourceTable]
GO
/****** Object:  StoredProcedure [control].[usp_GetWatermark]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [control].[usp_GetWatermark]
(
    @SourceTableID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        WatermarkID,
        WatermarkColumn,
        LastSuccessfulValue,
        CurrentRunValue,
        LastRunStatus
    FROM control.Watermark
    WHERE
        SourceTableID = @SourceTableID;
END
GO
/****** Object:  StoredProcedure [control].[usp_UpdateWatermark]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [control].[usp_UpdateWatermark]
(
      @SourceTableID INT
    , @WatermarkValue NVARCHAR(200)
    , @RunStatus NVARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE control.Watermark
    SET
        LastSuccessfulValue = CASE
                                WHEN @RunStatus='SUCCESS'
                                THEN @WatermarkValue
                                ELSE LastSuccessfulValue
                              END,

        CurrentRunValue = @WatermarkValue,

        LastRunStatus = @RunStatus,

        LastRunEndTime = SYSUTCDATETIME(),

        ModifiedDate = SYSUTCDATETIME(),

        ModifiedBy = SUSER_SNAME()

    WHERE SourceTableID = @SourceTableID;
END
GO
/****** Object:  StoredProcedure [logging].[usp_EndPipeline]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [logging].[usp_EndPipeline]
(
      @ExecutionLogID BIGINT
    , @ExecutionStatus NVARCHAR(20)
    , @ErrorMessage NVARCHAR(MAX)=NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE logging.ExecutionLog
    SET
        ExecutionStatus = @ExecutionStatus,
        EndTime = SYSUTCDATETIME(),
        DurationInSeconds =
            DATEDIFF
            (
                SECOND,
                StartTime,
                SYSUTCDATETIME()
            ),
        ErrorMessage = @ErrorMessage
    WHERE ExecutionLogID=@ExecutionLogID;

END
GO
/****** Object:  StoredProcedure [logging].[usp_LogError]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [logging].[usp_LogError]
(
      @ExecutionLogID BIGINT
    , @ErrorMessage NVARCHAR(MAX)
)
AS
BEGIN

SET NOCOUNT ON;

UPDATE logging.ExecutionLog
SET
    ExecutionStatus='FAILED',
    ErrorMessage=@ErrorMessage,
    EndTime=SYSUTCDATETIME(),
    DurationInSeconds=
        DATEDIFF
        (
            SECOND,
            StartTime,
            SYSUTCDATETIME()
        )
WHERE ExecutionLogID=@ExecutionLogID;

END
GO
/****** Object:  StoredProcedure [logging].[usp_LogExecutionDetail]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [logging].[usp_LogExecutionDetail]
(
      @ExecutionLogID BIGINT
    , @SourceTableID INT
    , @PipelineName NVARCHAR(200)
    , @NotebookName NVARCHAR(200)=NULL
    , @LayerName NVARCHAR(20)
    , @ExecutionStatus NVARCHAR(20)
    , @RowsRead BIGINT=NULL
    , @RowsInserted BIGINT=NULL
    , @RowsUpdated BIGINT=NULL
    , @RowsDeleted BIGINT=NULL
    , @RowsRejected BIGINT=NULL
    , @ErrorMessage NVARCHAR(MAX)=NULL
)
AS
BEGIN

SET NOCOUNT ON;

INSERT INTO logging.ExecutionDetail
(
    ExecutionLogID,
    SourceTableID,
    PipelineName,
    NotebookName,
    LayerName,
    ExecutionStatus,
    RowsRead,
    RowsInserted,
    RowsUpdated,
    RowsDeleted,
    RowsRejected,
    StartTime,
    EndTime,
    DurationInSeconds,
    ErrorMessage
)
VALUES
(
    @ExecutionLogID,
    @SourceTableID,
    @PipelineName,
    @NotebookName,
    @LayerName,
    @ExecutionStatus,
    @RowsRead,
    @RowsInserted,
    @RowsUpdated,
    @RowsDeleted,
    @RowsRejected,
    SYSUTCDATETIME(),
    SYSUTCDATETIME(),
    0,
    @ErrorMessage
);

END
GO
/****** Object:  StoredProcedure [logging].[usp_StartPipeline]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [logging].[usp_StartPipeline]
(
      @PipelineName NVARCHAR(200)
    , @PipelineRunID NVARCHAR(100)
    , @BatchID INT = NULL
    , @ExecutedBy NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO logging.ExecutionLog
    (
        BatchID,
        PipelineName,
        PipelineRunID,
        ExecutionStatus,
        StartTime,
        ExecutedBy
    )
    VALUES
    (
        @BatchID,
        @PipelineName,
        @PipelineRunID,
        'RUNNING',
        SYSUTCDATETIME(),
        @ExecutedBy
    );

    SELECT SCOPE_IDENTITY() AS ExecutionLogID;
END
GO
/****** Object:  StoredProcedure [metadata].[usp_GetActiveTables]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [metadata].[usp_GetActiveTables]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ST.SourceTableID,
        SS.SourceSystemCode,
        SS.SourceSystemName,
        ST.SourceSchema,
        ST.SourceTableName,
        TLC.TargetContainer,
        TLC.TargetFolder,
        TLC.LoadType,
        TLC.WatermarkColumn,
        TLC.FileFormat,
        TLC.CompressionType,
        TLC.LoadSequence,
        TLC.NotebookName,
        TLC.PipelineName
    FROM metadata.SourceTable ST
    INNER JOIN metadata.SourceSystem SS
        ON ST.SourceSystemID = SS.SourceSystemID
    INNER JOIN metadata.TableLoadConfiguration TLC
        ON ST.SourceTableID = TLC.SourceTableID
    WHERE
        ST.IsActive = 1
        AND TLC.IsActive = 1
    ORDER BY
        TLC.LoadSequence;
END
GO
/****** Object:  StoredProcedure [metadata].[usp_GetTableConfiguration]    Script Date: 7/10/2026 2:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [metadata].[usp_GetTableConfiguration]
(
    @SourceTableID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ST.SourceSchema,
        ST.SourceTableName,

        TLC.TargetContainer,
        TLC.TargetFolder,

        TLC.FileFormat,
        TLC.CompressionType,

        TLC.LoadType,
        TLC.WatermarkColumn,

        TLC.PrimaryKeyColumns,
        TLC.MergeStrategy,
        TLC.PartitionColumn,

        TLC.BronzeTableName,
        TLC.SilverTableName,
        TLC.GoldTableName,

        TLC.NotebookName,
        TLC.PipelineName,

        TLC.RetryCount,
        TLC.RetryIntervalSeconds,
        TLC.TimeoutMinutes

    FROM metadata.SourceTable ST
    INNER JOIN metadata.TableLoadConfiguration TLC
        ON ST.SourceTableID = TLC.SourceTableID

    WHERE
        ST.SourceTableID = @SourceTableID;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Audit objects: data quality rules, row/column reconciliation, checksum & change-tracking history.' , @level0type=N'SCHEMA',@level0name=N'audit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Configuration objects: environment settings, connection strings/secrets references, ETL parameters.' , @level0type=N'SCHEMA',@level0name=N'config'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control objects: job/batch orchestration, task dependencies, watermarks, scheduling and run state.' , @level0type=N'SCHEMA',@level0name=N'control'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging objects: pipeline/job execution logs, step-level logs, error and exception logs.' , @level0type=N'SCHEMA',@level0name=N'logging'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Metadata objects: source/target registrations, table & column definitions, pipeline/mapping catalog.' , @level0type=N'SCHEMA',@level0name=N'metadata'
GO
